/* 13. Preloader - CSS for preloader animation
/* ---------------------------------------------------------- */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.the{
    display: block; 
    position: absolute;
    width: 85px;
    left:200px;
    opacity: 0;
    height: 100vh;
    font-size: 60px;
    color: white;
    z-index:1003;
    -webkit-animation: ani 1s 1s cubic-bezier(.65,0,.37,.96) forwards;
        animation: ani 1s 1s cubic-bezier(.65,0,.37,.96) forwards;
} 

.grounds{
    display: block;
    position: absolute;
    width: 200px;
    left: 300px;
    height: 100vh;
    font-size: 60px;
    opacity: 0;
    color: white;
    z-index: 1004;
    -webkit-animation: aniup 1s 1.5s cubic-bezier(.65,0,.37,.96) forwards;
        animation: aniup 1s 1.5s cubic-bezier(.65,0,.37,.96) forwards;
}

.of{
    display: block;
    position: absolute;
    width: 50px;
    left: 527px;
    height: 100vh;
    font-size: 60px;
    opacity:0;
    color: white;
    z-index:1003;
    -webkit-animation: ani 1s 2s cubic-bezier(.65,0,.37,.96) forwards;
        animation: ani 1s 2s cubic-bezier(.65,0,.37,.96) forwards;
}

.the2{
    display: block;
    position: absolute;
    width: 75px;
    left: 595px;
    height: 100vh;
    font-size: 60px;
    opacity:0;
    color: white;
    z-index:1003;
    -webkit-animation: aniup 1s 2.5s cubic-bezier(.65,0,.37,.96) forwards;
        animation: aniup 1s 2.5s cubic-bezier(.65,0,.37,.96) forwards;
}

.city{
    display: block;
    position: absolute;
    width: 50px;
    left: 690px;
    height: 100vh;
    font-size: 60px;
    opacity:0;
    color: white;
    z-index:1003;
    -webkit-animation: ani 1s 3s cubic-bezier(.65,0,.37,.96) forwards;
        animation: ani 1s 3s cubic-bezier(.65,0,.37,.96) forwards;
}

@-webkit-keyframes ani {
    0%   { 
        -webkit-transform: translate3D(0,-50%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,-50%,0);  /* IE 9 */
        transform: translate3D(0,-50%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3D(0,50%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,50%,0);  /* IE 9 */
        transform: translate3D(0,50%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 1;
    }
}
@keyframes ani {
    0%   { 
        -webkit-transform: translate3D(0,-50%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,-50%,0);  /* IE 9 */
        transform: translate3D(0,-50%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3D(0,50%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,50%,0);  /* IE 9 */
        transform: translate3D(0,50%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 1;
    }
}

@-webkit-keyframes aniup {
    0%   { 
        -webkit-transform: translate3D(0,150%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,150%,0);  /* IE 9 */
        transform: translate3D(0,150%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3D(0,50%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,50%,0);  /* IE 9 */
        transform: translate3D(0,50%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 1;
    }
}
@keyframes aniup {
    0%   { 
        -webkit-transform: translate3D(0,150%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,150%,0);  /* IE 9 */
        transform: translate3D(0,150%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3D(0,50%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,50%,0);  /* IE 9 */
        transform: translate3D(0,50%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 1;
    }
}

.loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

/* Loaded */
/* .loaded .loader-wrapper .loader-section {
    -webkit-transform: translateY(-100%);  
        -ms-transform: translateY(-100%); 
            transform: translateY(-100%); 

    -webkit-transition: all 1s .5s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
            transition: all 1s .5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
} */

.loaded .the, .loaded .grounds, .loaded .of,.loaded .the2,.loaded .city{
    left: 350px;
    -webkit-transition: all 1s cubic-bezier(.65,0,.37,.96);  
    transition: all 1s cubic-bezier(.65,0,.37,.96);
}
.loaded .the, .loaded .of,.loaded .the2,.loaded .city{
    color: black;
    transition: all 1s cubic-bezier(.65,0,.37,.96);
}

.loaded .loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  
        -ms-transform: translateY(-100%);  
            transform: translateY(-100%); 

    -webkit-transition: all .75s cubic-bezier(0.645, 0.045, 0.355, 1.000) 1.25s;  
            transition: all .75s cubic-bezier(0.645, 0.045, 0.355, 1.000) 1.25s;
}