/* 13. Preloader - CSS for preloader animation
/* ---------------------------------------------------------- */
.loader-wrapper {
    --font-size: calc(6vw);
    --midpoint: calc(50vw - (var(--font-size)/2*3.5));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.loader-element {
    display: block; 
    position: absolute;
    height: 100vh;
    opacity: 0;
    font-size: var(--font-size);
    color: white;
}

.the{
    width: 85px;
    left: calc(50vw - (var(--font-size)/2*10));
    z-index:1003;
    -webkit-animation: ani 1s 1s cubic-bezier(.65,0,.37,.96) forwards;
        animation: ani 1s 1s cubic-bezier(.65,0,.37,.96) forwards;
} 

.grounds{
    width: 200px;
    left: calc(50vw - (var(--font-size)/2*6.5));
    z-index: 1004;
    -webkit-animation: aniup 1s 1.5s cubic-bezier(.65,0,.37,.96) forwards;
        animation: aniup 1s 1.5s cubic-bezier(.65,0,.37,.96) forwards;
}

.of{
    width: 50px;
    left: calc(50vw + (var(--font-size)/2));
    z-index:1003;
    -webkit-animation: ani 1s 2s cubic-bezier(.65,0,.37,.96) forwards;
        animation: ani 1s 2s cubic-bezier(.65,0,.37,.96) forwards;
}

.the2{
    width: 75px;
    left: calc(50vw + (var(--font-size)/2*3.5));
    z-index:1003;
    -webkit-animation: aniup 1s 2.5s cubic-bezier(.65,0,.37,.96) forwards;
        animation: aniup 1s 2.5s cubic-bezier(.65,0,.37,.96) forwards;
}

.city{
    width: 50px;
    left: calc(50vw + (var(--font-size)/2*7));
    z-index:1003;
    -webkit-animation: ani 1s 3s cubic-bezier(.65,0,.37,.96) forwards;
        animation: ani 1s 3s cubic-bezier(.65,0,.37,.96) forwards;
}

@-webkit-keyframes ani {
    0%   { 
        -webkit-transform: translate3D(0,-50%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,-50%,0);  /* IE 9 */
        transform: translate3D(0,-50%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3D(0,50%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,50%,0);  /* IE 9 */
        transform: translate3D(0,50%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 1;
    }
}
@keyframes ani {
    0%   { 
        -webkit-transform: translate3D(0,-50%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,-50%,0);  /* IE 9 */
        transform: translate3D(0,-50%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3D(0,50%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,50%,0);  /* IE 9 */
        transform: translate3D(0,50%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 1;
    }
}

@-webkit-keyframes aniup {
    0%   { 
        -webkit-transform: translate3D(0,150%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,150%,0);  /* IE 9 */
        transform: translate3D(0,150%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3D(0,50%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,50%,0);  /* IE 9 */
        transform: translate3D(0,50%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 1;
    }
}
@keyframes aniup {
    0%   { 
        -webkit-transform: translate3D(0,150%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,150%,0);  /* IE 9 */
        transform: translate3D(0,150%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3D(0,50%,0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3D(0,50%,0);  /* IE 9 */
        transform: translate3D(0,50%,0);  /* Firefox 16+, IE 10+, Opera */
        opacity: 1;
    }
}

.loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

/* Loaded */
.loaded .the, .loaded .grounds, .loaded .of,.loaded .the2,.loaded .city{
    left: var(--midpoint);
    -webkit-transition: all 1s cubic-bezier(.65,0,.37,.96);  
    transition: all 1s cubic-bezier(.65,0,.37,.96);
}
.loaded .the, .loaded .of,.loaded .the2,.loaded .city{
    color: black;
    transition: all .9s cubic-bezier(.65,0,.37,.96);
}

.loaded .loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  
        -ms-transform: translateY(-100%);  
            transform: translateY(-100%); 

    -webkit-transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1.000) 1.25s;  
            transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1.000) 1.25s;
}